#testa {
    background-image: url("/~S4529439/img/jpg/computer-write.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

body
{
    background-color: rgba(212, 215, 217, 0.59);
}

/*Per fixare le dimensioni*/
.row
{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#sezione-1
{
    min-height: 150px;
}

#sezione-1 .container
{
    padding-top: 30px;
}

.text-showcase
{
    padding: 5%;
}

#registrer-button-container
{
    position: relative;
    margin-right: 1rem;
    margin-left: auto;
}

#welcome-message
{
    margin-left: auto;
    margin-right: 1rem;
    text-align: right;
}

#chat-img
{
    background-image: url('/~S4529439/img/jpg/chat.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
}

#searh-img
{
    background-image: url("/~S4529439/img/jpg/search.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
}

#responsive-img
{
    background-image: url("/~S4529439/img/jpg/responsive.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
}