html,
body {
    height: 100%;
}

body {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.advice {
    width: 100%;
    max-width: 40%;
    padding: 15px;
    margin: auto;
    text-align: center;
}