.card
{
    margin-top: 2rem;
}

#edit-pwd-btn
{
    margin: 1rem 0 1rem 0;
}

.field
{
    margin: 3px 1rem 0 1rem;
}

.name-field {
    margin: 0 1rem 0 0;
    width: 40%;
    min-width: 100px;
}

#sub-btn
{
    min-width: 50%;
}

body
{
    text-align: center;
}

