.card
{
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.pass_show{position: relative}

.pass_show .ptxt {

    position: absolute;

    top: 50%;

    right: 10px;

    z-index: 1;

    color: #f36c01;

    margin-top: -10px;

    cursor: pointer;

    transition: .3s ease all;

}

.pass_show .ptxt:hover{color: #333333;}