#color-fill
{
    min-height: 100px;
    width: 100%;
}


.card {
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

#send-message {
    width: 40%;
}

button:hover, a:hover {
    opacity: 0.7;
}