#text{
    z-index: auto;
    position: relative;
    font-size: 14px;
    overflow: auto;
    background: transparent !important;
}

body {
    align-items: center;
    background-color: #f5f5f5;
}

.form-group
{
    padding: 2%;
    margin: auto;
}

.card {
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

