html,
body {
    height: 100%;
}

body {
    display: flex;
    padding-top: 50px;
    background-color: #f5f5f5;
}

.clickable-row:hover{
    background-color: #adcff7;
    cursor: pointer;
}

/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #343a40; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar div {
    padding: 3% 8px 3% 8px ;
    background-color: #343a40;
    text-align: center;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
    cursor: pointer;
    margin: 2%;
}

/* When you mouse over the navigation links, change their color */
.sidebar div:hover {
    background-color: rgb(103, 108, 114) !important;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
    padding-top: 30px;
    position: relative;
    top: 0;
    font-size: 36px;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #343a40;
    color: white;
    padding: 10px 15px;
    border: none;
}

.new-message-btn
{
    float: right;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
}


.openbtn:hover {
    background-color: rgb(103, 108, 114);
}

.container {
    max-width: 70%;
}

.page-item {
    cursor: pointer;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main-chat {
    transition: margin-left .5s;
    padding: 20px;
    width: 100%;
}

#main
{
    padding-top: 20px;
    width: 100%;
    display: flex;
}

#errorMessage
{
    display: none;
    margin-top: 1rem;
}

#message-text
{
    margin: auto;
    max-width: 50%;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}