.site-footer
{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color:#26272b;
    padding:22px 0 10px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}
.site-footer a
{
    color:#737373;
}
.site-footer a:hover
{
    color:#3366cc;
    text-decoration:none;
}

.site-footer .social-icons
{
    text-align:right
}
.site-footer .social-icons a
{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
}

.social-icons
{
    padding-left:0;
    list-style:none
}
.social-icons li
{
    display:inline-block;
    margin-bottom:4px
}
.social-icons li.title
{
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
}
.social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
    color:#fff;
    background-color:#29aafe
}
.social-icons.size-sm a
{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}
.social-icons a.mail:hover
{
    background-color:#3b5998
}
.social-icons a.linkedin:hover
{
    background-color:#00aced
}
.social-icons a.apache:hover
{
    background-color:#007bb6
}
.social-icons a.php:hover
{
    background-color:#ea4c89
}
@media (max-width:767px)
{
    .social-icons li.title
    {
        display:block;
        margin-right:0;
        font-weight:100
    }

    .site-footer .social-icons a
    {
        width:20px;
        height:20px;
        line-height:20px;
        margin-left:3px;
    }

    .site-footer
    {
        padding-bottom:0;
        line-height: 10px;
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
        text-align:center
    }
}

@media (min-width:767px) {
    .social-icons
    {
        margin-bottom: 0;
    }
}