/* Show it is fixed to the top */
body {
  padding-top: 3.5rem;
  padding-bottom: 4.5rem;
}
.ui-menu {
  z-index: 1031;
}

.navbar
{
  font-size: 1.5rem;
}

#search-box
{
  display: none;
}

#search-btn-alternative
{
  display: none;
}

#searh-icon
{
  background-image: url("/~S4529439/img/svg/icons/search/search.svg");
  background-repeat: no-repeat;
  min-width: 3rem;
  background-position: center;
}